$image-path: '~@/assets/images/';
$svg-path: '~@/assets/svg/';

// Black white
$color-white: #FFF;

// Black color
$color-black: #000;

// Green color
$color-green: #96C038;

// Blue color
$color-blue: #033375;
$color-blue-light: #1C4783;

// Gray color
$color-gray: #707173;

// Fonts
$font-pt-cuprum: 'Cuprum', sans-serif;
$font-pt-sans: 'PtSans', serif;
