<!DOCTYPE html>

<html lang="ru">

<head>
  <title>Главная</title>
  <%- include ../html/_common/meta.ejs %>
</head>

<body>

<%- include ../html/_common/header.ejs %>

<main class="main" role="main">

</main>

<%- include ../html/_common/footer.ejs %>

<%- include ../html/_common/svg-sprite.ejs %>

</body>

</html>
