html {
  height: 100%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(#202020, 0.04);

  @at-root #{&}.menu-opened {
    @include tablet {
      overflow: hidden;
    }
  }
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}
