<footer class="footer">
  <div class="footer__inner">
    <div class="footer__top">
      <div class="footer__nav">
        <div class="footer__col">
          <a href="#!" class="footer__logo"></a>
          <p class="footer__desc">Группа компаний SWR — ведущий российский системный интегратор
            и поставщик современных технологий автоматизации в рамках концепции PLM.</p>
        </div>
        <div class="footer__col">
          <div class="nav-block">
            <a href="#!" class="nav-block__heading">О компании</a>
            <ul class="nav-block__list">
              <li class="nav-block__item">
                <a href="#!" class="nav-block__link">Профиль компании</a>
              </li>
              <li class="nav-block__item">
                <a href="#!" class="nav-block__link">История компании</a>
              </li>
              <li class="nav-block__item">
                <a href="#!" class="nav-block__link">Работа с ВУЗами</a>
              </li>
              <li class="nav-block__item">
                <a href="#!" class="nav-block__link">Акции</a>
              </li>
              <li class="nav-block__item">
                <a href="#!" class="nav-block__link">Карьера</a>
              </li>
              <li class="nav-block__item">
                <a href="#!" class="nav-block__link">Контакты</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__col">
          <div class="nav-block">
            <a href="#!" class="nav-block__heading">Решения</a>
            <ul class="nav-block__list">
              <li class="nav-block__item">
                <a href="#!" class="nav-block__link">Интегрированный программный комплекс APM SWR</a>
              </li>
              <li class="nav-block__item">
                <a href="#!" class="nav-block__link">Управление данными на протяжении ЖЦИ</a>
              </li>
              <li class="nav-block__item">
                <a href="#!" class="nav-block__link">Разработка изделия. Механика</a>
              </li>
              <li class="nav-block__item">
                <a href="#!" class="nav-block__link">Радиоэлектроника. Электротехника</a>
              </li>
              <li class="nav-block__item">
                <a href="#!" class="nav-block__link">Инженерный анализ и испытания</a>
              </li>
              <li class="nav-block__item">
                <a href="#!" class="nav-block__link">Технологическая подготовка производства</a>
              </li>
              <li class="nav-block__item">
                <a href="#!" class="nav-block__link">Производство</a>
              </li>
              <li class="nav-block__item">
                <a href="#!" class="nav-block__link">Эксплуатация и утилизация</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__col">
          <div class="nav-block">
            <a href="#!" class="nav-block__heading">Услуги</a>
            <ul class="nav-block__list">
              <li class="nav-block__item">
                <a href="#!" class="nav-block__link">Инжиниринг</a>
              </li>
              <li class="nav-block__item">
                <a href="#!" class="nav-block__link">Консалтинг</a>
              </li>
              <li class="nav-block__item">
                <a href="#!" class="nav-block__link">Поставка программно-аппаратных решений</a>
              </li>
              <li class="nav-block__item">
                <a href="#!" class="nav-block__link">Проектирование под ключ</a>
              </li>
              <li class="nav-block__item">
                <a href="#!" class="nav-block__link">Системная интеграция</a>
              </li>
              <li class="nav-block__item">
                <a href="#!" class="nav-block__link">Внедрение. Развертывание типового решения</a>
              </li>
              <li class="nav-block__item">
                <a href="#!" class="nav-block__link">Обучение и аттестация специалистов</a>
              </li>
              <li class="nav-block__item">
                <a href="#!" class="nav-block__link">Техническая поддержка пользователей</a>
              </li>
              <li class="nav-block__item">
                <a href="#!" class="nav-block__link">Разработка программного обеспечения</a>
              </li>
              <li class="nav-block__item">
                <a href="#!" class="nav-block__link">Информационная безопасность</a>
              </li>
              <li class="nav-block__item">
                <a href="#!" class="nav-block__link">Индустрия 4.0</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__col">
          <div class="nav-block">
            <a href="#!" class="nav-block__heading">Проекты</a>
            <ul class="nav-block__list">
              <li class="nav-block__item">
                <a href="#!" class="nav-block__link">Все проекты</a>
              </li>
            </ul>
          </div>
          <div class="nav-block">
            <a href="#!" class="nav-block__heading">Пресс-центр</a>
            <ul class="nav-block__list">
              <li class="nav-block__item">
                <a href="#!" class="nav-block__link">Новости</a>
              </li>
              <li class="nav-block__item">
                <a href="#!" class="nav-block__link">Мероприятия</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__row">
        <div class="footer__contacts">
          <div class="contacts">
            <div class="contacts__item">
              <a href="tel:+74959958032" class="contacts__link">+7 (495) 995-80-32</a>
              <span class="contacts__caption">Москва</span>
            </div>
            <div class="contacts__item">
              <a href="tel:+74959958032" class="contacts__link">+7 (812) 603-22-57</a>
              <span class="contacts__caption">Санкт-Петербург</span>
            </div>
            <div class="contacts__item">
              <a href="tel:+74959958032" class="contacts__link">+7 (343) 311-29-29</a>
              <span class="contacts__caption">Екатеринбург</span>
            </div>
            <div class="contacts__item">
              <a href="tel:+74959958032" class="contacts__link">+7 (846) 378-02-05</a>
              <span class="contacts__caption">Самара</span>
            </div>
          </div>
        </div>
        <div class="footer__buttons">
          <a href="#!" class="button button--icon button--simple">
            <svg xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="#question"></use>
            </svg>
            <span class="button__text">поддержка on-line</span>
          </a>
          <a href="#!" class="button button--stroke button--icon">
            <svg xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="#cart"></use>
            </svg>
            <span class="button__text">Купить</span>
          </a>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__text">© 2009–2019 группа компаний SWR</p>
      <p class="footer__text">Разработанно в digital-агентстве <a href="https://wptt.ru/" target="_blank"
                                                                  class="footer__creator">Вебпространство</a></p>
    </div>
  </div>
</footer>
