<header class="header">
  <div class="header__inner">
    <div class="header__container">
      <div class="header__content">
        <a href="#!" class="header__logo"></a>
        <nav class="header__nav" role="navigation">
          <ul class="header__list" role="menu">
            <li class="header__item" role="menuitem">
              <a href="#!" class="header__link">О компании</a>
            </li>
            <li class="header__item" role="menuitem">
              <a href="#!" class="header__link">Решения</a>
            </li>
            <li class="header__item" role="menuitem">
              <a href="#!" class="header__link">Услуги</a>
            </li>
            <li class="header__item" role="menuitem">
              <a href="#!" class="header__link">Проекты</a>
            </li>
            <li class="header__item" role="menuitem">
              <a href="#!" class="header__link">Пресс-центр</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__buttons">
        <a href="#!" class="button button--icon button--simple">
          <svg xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#question"></use>
          </svg>
          <span class="button__text">поддержка on-line</span>
        </a>
        <a href="#!" class="button button--icon">
          <svg xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#cart"></use>
          </svg>
          <span class="button__text">Купить</span>
        </a>
      </div>
      <button type="button" class="hamburger" data-menu>
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
  <div class="menu">
    <div class="menu__inner">
      <div class="menu__buttons">
        <a href="#!" class="button button--contain button--icon button--simple">
          <svg xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#question"></use>
          </svg>
          <span class="button__text">поддержка on-line</span>
        </a>
        <a href="#!" class="button button--contain button--icon">
          <svg xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#cart"></use>
          </svg>
          <span class="button__text">Купить</span>
        </a>
      </div>
      <ul class="menu__list">
        <li class="menu__item">
          <a href="#!" class="menu__link h1">О компании</a>
        </li>
        <li class="menu__item">
          <a href="#!" class="menu__link h1">Решения</a>
        </li>
        <li class="menu__item">
          <a href="#!" class="menu__link h1">Услуги</a>
        </li>
        <li class="menu__item">
          <a href="#!" class="menu__link h1">Проекты</a>
        </li>
        <li class="menu__item">
          <a href="#!" class="menu__link h1">Пресс-центр</a>
        </li>
      </ul>
      <div class="menu__row">
        <div class="menu__scroll">
          <a href="#!" class="button button--contain button--stroke button--icon">
            <svg xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="#horn"></use>
            </svg>
            <span class="button__text">Новости</span>
          </a>
          <a href="#!" class="button button--contain button--stroke button--icon">
            <svg xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="#smile"></use>
            </svg>
            <span class="button__text">Мероприятия</span>
          </a>
          <a href="#!" class="button button--contain button--stroke button--icon">
            <svg xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="#tag"></use>
            </svg>
            <span class="button__text">Акции</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
