<!DOCTYPE html>

<html lang="ru">

<head>
  <title>Решения</title>
  <%- include ../../html/_common/meta.ejs %>
</head>

<body>

<%- include ../../html/_common/header.ejs %>

<main class="main" role="main">
  <div class="intro">
    <div class="intro__content">
      <nav class="breadcrumbs intro__breadcrumbs" aria-label="breadcrumb">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a href="#!" class="breadcrumbs__link">Главная</a>
          </li>
          <li class="breadcrumbs__item" aria-current="page">Решения</li>
        </ul>
      </nav>
      <h1 class="intro__title">Решения</h1>
    </div>
  </div>
  <div class="wrap">
    <div class="wrap__block" data-space="top-small">
      <div class="wrap__item container">
        <div class="wrap__filters">
          <form class="filters">
            <div class="filters__item">
              <span class="filters__caption">Направление</span>
              <select>
                <option value="Все" selected>Все</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
            <div class="filters__item">
              <span class="filters__caption">Бренд</span>
              <select>
                <option value="Выберите бренд" selected>Выберите бренд</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
          </form>
        </div>
        <div class="solutions">
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-архив
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-редактор спецификаций
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-материла
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-библиотеки
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>

          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-электрика
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-РЭА
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-ПЛОТТЕР
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-1С
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>

          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-УПРАВЛЕНИЕ ПРОЕКТАМИ
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-ЭЦП
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SOLIDWORKS ENTERPRISE PDM
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-КОНФИГУРАТОР
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>

          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-ПРОВЕРКИ
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-РЕДАКТОР СВОЙСТВ
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-РЕСУРСЫ
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-ДОПУСКИ
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>

          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-ТЕХНОДОПУСКИ
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">CURTAIN E-LOCKER
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">TEAMCENTER
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">NX
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>

          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SOLID EDGE
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">RULESTREAM ETO
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SOLIDWORKS
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SOLIDWORKS MBD STANDARD
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>

          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-архив
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-редактор спецификаций
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-материла
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-библиотеки
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>

          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-электрика
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-РЭА
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-ПЛОТТЕР
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-1С
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>

          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-УПРАВЛЕНИЕ ПРОЕКТАМИ
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-ЭЦП
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SOLIDWORKS ENTERPRISE PDM
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-КОНФИГУРАТОР
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>

          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-ПРОВЕРКИ
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-РЕДАКТОР СВОЙСТВ
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-РЕСУРСЫ
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-ДОПУСКИ
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>

          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SWR-ТЕХНОДОПУСКИ
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">CURTAIN E-LOCKER
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">TEAMCENTER
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">NX
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>

          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SOLID EDGE
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">RULESTREAM ETO
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SOLIDWORKS
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
          <div class="solutions__item">
            <a href="#!" class="card-solution">
              <p class="card-solution__title h4">SOLIDWORKS MBD STANDARD
                <svg xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </p>
              <p class="card-solution__text">Учет и хранение документации, работы с книгами учета документов и
                управление архивной документацией</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include ../../html/_common/footer.ejs %>

<%- include ../../html/_common/svg-sprite.ejs %>

</body>

</html>
